<div class="row ">
    <div class="col-xs-12">
        <form class="weatherForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="cityName">Enter A City Name:</label>
                     <input type="text"
                     id="cityName"
                     name="cityName"
                     class="form-control"
                     placeholder="Ex. Tokyo, JP"
                     ngModel
                     required
                     >
                </div>
            </div>
            <button
            class="btn"
            type="submit"
            [disabled]="!f.valid"
            >Add Weather</button>
            <span class="errorMessage" *ngIf="haveError"><em>{{errorMessage}}</em></span>
        </form>
    </div>
</div>

