.list-group-item {
  border-color: transparent;
  background-color: rgba(83, 81, 81, 0.3);
  margin: 20px auto;
  color: white;
  animation: itemFadeIn .4s ease-out;
}

@keyframes itemFadeIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
